{% extends "base.html" %}

{% block content %}

	<div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-4">
          <div class="acct card-body">
			<p>If an account exists with the email address you entered, instructions for resetting your password have been emailed to you.
				You should receive them shortly.</p>
			<p>If you don’t receive an email, please make sure you entered the email address you used for registration, and check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
	
{% endblock %}