{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}My NOAA Forecast App | Reset Password{% endblock %}

{% block content %}

	<div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-4">
          <div class="acct card-body">
            <h5 class="acct card-title text-center">Reset Password</h5>
			<form method="post" class="form-signin">
				{% csrf_token %}
				{{form|crispy}}
				<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset Password</button>
			</form>	
          </div>
        </div>
      </div>
    </div>
	
{% endblock %}